<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>GS Crickinfo</title>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
        <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css"/>
        <link rel="stylesheet" type="text/css" href="header.css"/>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
        <script src="https://raw.github.com/angular-ui/angular-ui/v0.3.2/build/angular-ui.js"></script>
        <script>angular.module('myModule', ['ui.bootstrap']);</script>
    </head>
    <body>
       
       
    </body>
</html>
